
iOS/ChatroomDemo/ChatroomDemo.xcodeproj/project.xcworkspace/xcuserdata/zhujichao1.xcuserdatad/UserInterfaceState.xcuserstate
iOS/ChatroomDemo/ChatroomDemo.xcodeproj/xcuserdata/zhujichao1.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store